<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common-base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 card login-card">
                <div class="card-body login-form">
                    <div class="text-center">
                        <img src="images/forgot-password.png" alt="Forgot Password" class="login-img mt-3 mb-2">
                        <h5><b>Request for new password</b></h5>
                    </div>
                    
					<div th:if="${error}" class="alert alert-danger" role="alert">
					    <p><strong th:text="${error}"></strong></p>
					</div>
						
                    <!-- Form -->
                    <form th:action="@{/send-otp}" method="post">
                        <div class="mt-3">
                            <label for="email" class="form-label required">Email Id</label>
                            <input type="email" name="email" id="email" class="form-control" required="required">
                        </div>
                        <div class="text-center mt-3 mb-3">
                            <input type="submit" value="Request OTP" class="btn btn-primary">
                        </div>
                        <hr>
                        <p class="text-center">If you already have a password, <a href="/login" style="text-decoration: none;">Login Here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
